# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/.idea.Projet1.iml
/projectSettingsUpdater.xml
/modules.xml
/contentModel.xml
# Datasource local storage ignored files
/../../../../../../../../../../../../:\Users\ALEXA\Google Drive\Alexandre\ESILV\P2\Info\Projet1\.idea\.idea.Projet1\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
